<%= render "shared/header" %>

<h2>this is users#index</h2>

<% @users.each do |user| %>
<%= link_to user.nickname, user_path(user.id) %><br>
<% end %>
<%= link_to "トップへ", root_path %>

<%= render "shared/footer" %>